@import url("https://fonts.googleapis.com/css?family=Ubuntu");

/* Typography */
html {
  font-size: 62.5%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  font-size: 1.8rem;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: "Ubuntu", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

.bg {
  background: url();
}
