@import url("https://fonts.googleapis.com/css?family=Ubuntu");

/* Typography */
html {
  font-size: 62.5%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: "Ubuntu", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

.bg {
  background: url(/Images/mountain.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  filter: blur(0px);
}
.loading-text {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}
